{
  "presets": [
    "react",
    ["es2015", { "modules": false } ]
  ],

  "plugins": [
    "syntax-async-functions",
    "syntax-trailing-function-commas",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-regenerator",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
    }],
    "react-hot-loader/babel",
    "lodash"
  ],

  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements"
      ]
    }
  }
}
