{
  "presets": [
    "react",
    "es2015-webpack"
  ],

  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread"
  ],

  "env": {
    "development": {
      "presets": [ "react-hmre" ],
      "plugins": [
        [ "react-transform", {
          "transforms": [
            {
              "transform": "react-transform-hmr",
              "imports": [ "react" ],
              "locals": [ "module" ]
            }
          ]
        }]
      ]
    }
  }
}
