:local(.norm) //.mdl-card
  min-height: auto !important
  transition: box-shadow 500ms ease // animate hover

  h1
    width: 100%

  pre
    overflow: auto

  br+br // Hide consecutive linebreaks.
    display: none

  .mdl-card__supporting-text

    color: rgba(0, 0, 0, .8)
    &> button
      width: 100%

  .mdl-card__title,
  .mdl-card__supporting-text
    width: 96%

  .mdl-card__menu
    color: #000
    button
      visibility: hidden
      &.visible
        visibility: visible
