:local(.header)
  :local(.row)
    @media (max-width: 499px)
      padding-left: 60px
    @media (min-width: 500px) and (max-width: 1023px)
      padding-left: 16px
    @media (min-width: 1024px)
      padding-left: 40px

@media (max-width: 499px)
  :local(.nav),
  :local(.searchinput)
    display: none !important

.mdl-layout__drawer-button
  display: none !important

.mdl-layout__drawer-button.custom
  @media (max-width: 499px)
    display: block !important

:local(.flash)
  font-size: 24px
