:local(.textline)
  display: inline-block
  background-color: #ccc
  height: 1em
  margin-bottom: .4em
  &.w80
    width: 80%
  &.w70
    width: 70%
  &.w60
    width: 60%
  &.w50
    width: 50%
  &.w40
    width: 40%
