.norm {
  dl {
    padding: 0 0.2em;
    margin-left: 4em;
  }

  dt {
    float: left;
    margin-left: -2em;
    min-width: 2em;
    margin-right: 1em;
  }

  dd {
    margin-bottom: 1em;
    -webkit-margin-start: 0;
    margin-left: 2em;
  }
}
