:local(.rowshell)
  display: block
  background-color: #ccc
  height: 1em
  margin-bottom: .4em
  &.a
    width: 60%
  &.b
    width: 70%
  &.c
    width: 60%
  &.d
    width: 50%
  &.e
    width: 40%
