// Square single letter buttons.
:local(.button)
  min-width: auto
  width: 36px
  height: 36px
  padding: 0
  margin: 0 auto


// Centered buttons.
:local(.cell)
  margin-bottom: .5em !important // Need to overwrite MDL style
  text-align: center
