.law-list.mdl-data-table {
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
  table-layout: fixed;

  th {
    &:first-child {
      min-width: 50px;
      max-width: 50px;
      width: 50px;
    }

    &:nth-child(2) {
      min-width: 15%;
      max-width: 20%;
      width: 20%;
    }

    &:last-child {
      min-width: 50px;
      max-width: 50px;
      width: 50px;
    }
  }

  td {
    padding-bottom: 12px;

    &:first-child,
    &:last-child {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
