.norm
  pre
    overflow: auto

  br+br // Hide consecutive linebreaks.
    display: none

  .law-lead
    font-size: 5em
    line-height: 1em

    >span
      font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif
      opacity: .65

    .mdl-icon-toggle
      height: 1em
      width: 1em
      vertical-align: top
      text-align: center

      .material-icons
        font-size: 1em
        line-height: 1em

      span
        height: 100%
        width: 100%

    &+h1
      margin-top: 0
