:local(.norm) //.mdl-class
  min-height: auto !important
  width: 100%
  transition: all 500ms ease // animate hover

  pre
    overflow: auto

  br+br // Hide consecutive linebreaks.
    display: none

  .mdl-card__title
    h1, h2, h3, h4, h5, h6
      margin: 0
    small, span
      opacity: .6
      display: block

  .mdl-card__supporting-text
    padding-top: 0
    padding-bottom: 0
