### Security headers
Header set X-Frame-Options DENY
Header set X-XSS-Protection "1; mode=block"
Header set Content-Security-Policy "img-src 'self' data: *.google-analytics.com; script-src 'self' 'unsafe-inline' data: *.google-analytics.com; style-src 'self' 'unsafe-inline' fonts.googleapis.com; font-src 'self' fonts.gstatic.com;"
Header set X-Content-Type-Options "nosniff"
Header set Strict-Transport-Security "max-age=10886400; includeSubDomains; preload" env=HTTPS


### Cache settings
<filesMatch "\.(html|json)$">
  #86400
  Header set Cache-Control "max-age=60, public"
</filesMatch>
<filesMatch "\.(js|css|map|woff|eot|png|ico)$">
  #2592000
  Header set Cache-Control "max-age=60, public"
</filesMatch>
<filesMatch "\.appcache">
  Header set Cache-Control "max-age=0, must-revalidate"
</filesMatch>


### File settings, mime and encoding
AddCharset UTF-8 .html .json .js .css .map .appcache
AddType text/cache-manifest .appcache
<Files manifest.json>
  AddType application/manifest+json .json
</Files>


### Compression
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript text/javascript application/json application/manifest+json text/cache-manifest


### Rewrites
RewriteEngine On

# Force https.
RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

# Answer everything from node.
#RewriteRule ^(.*) http://localhost:61324/ [P]

# If a directory or file exists, use it directly.
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [NC,L]

# If a specific route is accessed directly, reply with the appropriate shell.
RewriteRule ^gesetze(.*) /static/gesetze.html [NC,L]
RewriteRule ^gesetz(.*) /static/gesetz.html [NC,L]
RewriteRule ^suche(.*) /static/home.html [NC,L]
RewriteRule ^(.*) /static/home.html [NC,L]


### Authentication
#AuthType Basic
#AuthName "Private Alpha"
#AuthUserFile /var/www/virtual/lawly/.htuser
#Order Deny,Allow
#Deny from all
#Satisfy Any
#Allow from env=!HTTPS
#SetEnvIf REQUEST_URI "^/static/.*(?!\.html)" allow
#Allow from env=allow
#Require valid-user
