<!DOCTYPE html>
<html>
  <!-- Only used during development. See components/AppHtml for production. -->
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, minimum-scale=1.0'>
    <!-- <link rel='manifest' href='/manifest.json'> -->
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id='app'></div>
  </body>
</html>
