<!DOCTYPE html>
<html>
  <!-- Only used during development. See components/AppHtml for production. -->
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, minimum-scale=1.0'>
    <!-- <link rel='manifest' href='/manifest.json'> -->
    <script>
     WebFontConfig = { google: { families: [ 'Roboto:400,400i,700,700i' ] } };
     (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
        s.parentNode.insertBefore(wf, s);
     })(document);
    </script>

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id='app'></div>
  </body>
</html>
